@{
    ViewBag.Title = "主页";
}
@model IEnumerable<BM.Models.view_Article>
<ul class="bloglist">
    @foreach (var item in Model)
    {
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <!--三角形-->
                <div class="ci"></div>
                <!--圆形-->
                <h2 class="title"><a href="/Article/Detailed/@item.Id" target="_blank">@item.Title</a></h2>
                <ul class="textinfo">
                    <li>
                        <!--<a href="/"><img src="images/s1.jpg"></a>-->
                        <p>@item.Abstract</p>
                    </li>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="javascript:void(0)" onclick="like('@item.Id')">@item.LikeNum</a></li>
                    <li class="comments"><a href="#">@item.CommentCount</a></li>
                    <li class="icon-time"><a href="#">@item.Date.ToString("yyyy-MM-dd")</a></li>
                </ul>
            </div>
            <!--arrow_box end-->
        </li>
    }
</ul>
<script>
    function like(id){
        $.BMSubmit('/Home/Like/'+id,null , '/', '', '感谢您的厚爱！', null);
    }
</script>