<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="gb2312" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="鸟人博客，uwp，.net，vs，c#，asp.net" />
    <meta name="description" content="鸟人博客" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="~/Content/animation.css" rel="stylesheet" />
    <!-- 返回顶部调用 begin -->
    <link href="~/Content/lrtk.css" rel="stylesheet" />
    @*<script type="text/javascript" src="~/Scripts/jquery.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js.js"></script>
    <script src="~/Scripts/BMSubmit.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    @if (Request.RawUrl != "/Home/Index" && Request.RawUrl != "/")
    {
        <link href="~/Content/view.css" rel="stylesheet" />
    }
    <!-- 返回顶部调用 end-->
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav id="nav">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/Article/Index" target="_blank" title="文章">文章</a></li>
                <li><a href="http://bm.bugback.com/" target="_blank" title="鸟人框架">鸟人框架</a></li>
                <li><a href="/web/" target="_blank" title="相册">相册</a></li>
                <li><a href="/Home/About" target="_blank" title="关于我">关于我</a></li>
            </ul>
            @Html.Partial("../Shared/_LoginPartial");
            <script src="~/Scripts/silder.js"></script><!--获取当前页导航 高亮显示标题-->
        </nav>
    </header>
    <!--header end-->
    <div id="mainbody">
        @if (Request.RawUrl == "/Home/Index" || Request.RawUrl == "/")
        {

        <div class="info">
            <figure>
                <img src="Img/art.jpg" alt="Panama Hat">
                <figcaption><strong>渡人如渡己，渡已，亦是渡</strong> 当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。</figcaption>
            </figure>
            <div class="card">
                <h1>我的名片</h1>
                <p>网名：朱厚熜 | APP商店名称 ：Thomas Zhu</p>
                <p>职业：.net开发工程师、UWP开发工程师</p>
                <p>电话：185******45</p>
                <p>Email：admin@bugback.com</p>
                <ul class="linkmore">
                    <li><a href="/" class="talk" title="给我留言"></a></li>
                    <li><a href="/" class="address" title="联系地址"></a></li>
                    <li><a href="mailto:haozi@daqianduan.com" class="email" title="给我写信"></a></li>
                    <li><a href="/" class="photos" title="生活照片"></a></li>
                    <li><a href="/" class="heart" title="关注我" onclick="Collectionite()"></a></li>
                </ul>
            </div>
        </div>

        }
        <!--info end-->
        <div class="blank"></div>
        <div class="blogs">
            @RenderBody()
            <!--bloglist end-->
            @if (Request.RawUrl != "/Article/Save")
            {
            <aside>
                @if (Request.RawUrl != "/Home/Index" && Request.RawUrl != "/")
                {
                    <div class="search">
                        <form class="searchform" method="get" action="#">
                            <input type="text" name="s" placeholder="Search">
                        </form>
                    </div>
                    <div class="sunnav">
                        <ul>
                            <li><a href="/Article/Index/2eaeb078-93cd-4007-95ff-620f93ec7143/1" target="_self" title="HTML5 / CSS3">HTML5 / CSS3 / JS</a></li>
                            <li><a href="/Article/Index/da58bce3-01eb-4d29-8a40-f5ae0ea7a251/1" target="_self" title="WP / UWP">WP / UWP</a></li>
                            <li><a href="/Article/Index/2b9de420-94cd-4993-8c7c-0d38510e60bc/1" target="_self" title="框架">框架</a></li>
                            <li><a href="/Article/Index/884e2feb-2fea-469b-80a9-bdacafafa58f/1" target="_self" title="数据库">数据库</a></li>
                            <li><a href="/Article/Index/420b8122-8be1-4546-babc-070ac9c387b7/1" target="_self" title="杂文">杂文</a></li>
                        </ul>
                    </div>
                }
                <div class="tuijian">
                    <h2>推荐文章</h2>
                    <ol>
                        @for (int i = 0; i < (ViewData["recommend"] as List<BM.Models.view_Article>).Count; i++)
                        {
                            <li><span><strong>@(i+1)</strong></span><a href="/">@((ViewData["recommend"] as List<BM.Models.view_Article>)[i].Title.Trim())</a></li>
                        }
                    </ol>
                </div>
                <div class="toppic">
                    <h2>图文并茂</h2>
                    <ul>
                        <li>
                            <a href="/">
                                <img src="~/Img/k01.jpg">腐女不可怕，就怕腐女会画画！
                                <p>伤不起</p>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="~/Img/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
                                <p>感兴趣</p>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="~/Img/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
                                <p>喜欢</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clicks">
                    <h2>热门点击</h2>
                    <ol>
                        @for (int i = 0; i < (ViewData["hotread"] as List<BM.Models.view_HotRead>).Count; i++)
                        {
                            <li><span><a href="/">@((ViewData["hotread"] as List<BM.Models.view_HotRead>)[i].Name.Trim())</a></span><a href="/">@((ViewData["hotread"] as List<BM.Models.view_HotRead>)[i].Title.Trim())</a></li>
                        }
                    </ol>
                </div>


                @if (Request.RawUrl == "/Home/Index" || Request.RawUrl == "/")
                {
                    <div class="search">
                        <form class="searchform" method="get" action="#">
                            <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
                        </form>
                    </div>
                    <div class="viny">
                        @Html.Partial("../Shared/_PartialAudio");
                    </div>
                }

            </aside>
            }
        </div>
    </div>
    <!--mainbody end-->
    <footer>
        <div class="footer-mid">
            <div class="links">
                <h2>友情链接</h2>
                <ul>
                    <li><a href="http://www.boutshow.com/">博秀影坛</a></li>
                </ul>
            </div>
            <div class="visitors">
                <h2>最新评论</h2>
                @Html.Partial("../Shared/_PartialComment")
            </div>
            <section class="flickr">
                <h2>摄影作品</h2>
                <ul>
                    <li><a href="/"><img src="~/Img/upload_img/01.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img//02.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/03.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/04.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/05.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/06.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/07.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/08.jpg"></a></li>
                    <li><a href="/"><img src="~/Img/upload_img/09.jpg"></a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <p>
                Copyright 2013 Design by <a href="http://www.bugback.com">BugBack</a>
                <script src="projects.js"></script>
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1257753800'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
"s95.cnzz.com/z_stat.php%3Fid%3D1257753800%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </p>
        </div>
    </footer>
    <!-- jQuery仿腾讯回顶部和建议 代码开始 -->
    <div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
    <!-- 代码结束 -->
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/ckeditor")
</body>
</html>
<script>
    function Collectionite() {
        url = document.URL;  //你自己的主页地址
        title = "朱刚的博客";  //你自己的主页名称
        window.external.AddFavorite(url, title);
    }
</script>