@model BM.Models.view_Article
@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/view.css" rel="stylesheet" />
<div class="blogs">
    <div id="index_view">
        <h2 class="t_nav"><a href="/">网站首页</a><a href="/">慢生活</a></h2>
        <h1 class="c_titile">@Html.Raw(Model.Title)</h1>
        <p class="box">发布时间：@Html.Raw(Model.Date.ToString("yyyy-MM-dd"))<span>编辑：DanceSmile</span>阅读（30）</p>
        <ul>
            @Html.Raw(Model.Content)
        </ul>
        <div>
            @Html.ActionLink("共" + @Model.CommentCount + "条评论", "Comment", "Article", new { id=Model.Id}, new { @Style = "color:#E72B2B;float:right;margin-bottom:5px" })
        </div>
        <form id="commentForm">
            @Html.TextArea("_Content", new { @class = "textarea", @placeholder = "留下您的牛评" })
            <button class="btn_submit" type="button" onclick="saveComment()">评论</button>
        </form>
        <!--bloglist end-->
    </div>
</div>
<script>
    function saveComment() {
        $.BMSubmit("/Article/AddComment", "commentForm", "", "评论失败！", "感谢您的评论！");
    };
</script>
